.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.996000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.982910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.021000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.861328;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-11.593592px;}
._4{margin-left:-1.786687px;}
._6{width:2.023939px;}
._0{width:10.000000px;}
._2{width:24.000000px;}
._3{width:32.800000px;}
._1{width:56.400000px;}
._7{width:64.800000px;}
.fca{color:rgb(255,0,0);}
.fc3{color:rgb(237,125,49);}
.fc0{color:rgb(0,32,96);}
.fc2{color:rgb(0,112,192);}
.fc1{color:rgb(0,0,0);}
.fc4{color:rgb(255,255,255);}
.fc5{color:rgb(37,38,94);}
.fc7{color:rgb(0,0,255);}
.fc6{color:rgb(131,60,11);}
.fc8{color:rgb(5,99,193);}
.fc9{color:rgb(255,0,255);}
.fs10{font-size:36.000000px;}
.fsf{font-size:40.000000px;}
.fs3{font-size:56.000000px;}
.fs1{font-size:72.000000px;}
.fs2{font-size:80.000000px;}
.fs9{font-size:96.000000px;}
.fsd{font-size:100.000000px;}
.fs5{font-size:112.000000px;}
.fse{font-size:120.000000px;}
.fs6{font-size:124.000000px;}
.fs7{font-size:128.000000px;}
.fs8{font-size:144.000000px;}
.fs0{font-size:160.000000px;}
.fsa{font-size:176.000000px;}
.fs4{font-size:192.000000px;}
.fs11{font-size:216.000000px;}
.fsc{font-size:240.000000px;}
.fs12{font-size:248.000000px;}
.fsb{font-size:288.000000px;}
.y0{bottom:0.000000px;}
.y65{bottom:19.787323px;}
.y6a{bottom:27.883171px;}
.y6b{bottom:28.095299px;}
.y56{bottom:32.672150px;}
.y17{bottom:33.393005px;}
.y6c{bottom:35.163963px;}
.y50{bottom:37.644592px;}
.y26{bottom:54.134979px;}
.y55{bottom:54.272156px;}
.y4f{bottom:59.244598px;}
.y39{bottom:61.984894px;}
.ye{bottom:67.026955px;}
.y54{bottom:75.872154px;}
.y64{bottom:78.910675px;}
.y4e{bottom:80.844597px;}
.y69{bottom:82.007129px;}
.y70{bottom:83.048485px;}
.y66{bottom:85.714172px;}
.y6e{bottom:86.025232px;}
.yd{bottom:89.413986px;}
.y25{bottom:92.534973px;}
.y6f{bottom:92.626093px;}
.y53{bottom:97.472160px;}
.y16{bottom:100.592957px;}
.y1e{bottom:101.360123px;}
.y4d{bottom:102.444603px;}
.y52{bottom:119.072166px;}
.y38{bottom:119.584930px;}
.y63{bottom:122.110687px;}
.y4c{bottom:124.044609px;}
.y24{bottom:130.934982px;}
.y15{bottom:134.192932px;}
.y1d{bottom:138.560135px;}
.y3f{bottom:144.850159px;}
.y31{bottom:162.246140px;}
.y62{bottom:165.310687px;}
.y51{bottom:166.495605px;}
.y14{bottom:167.792938px;}
.y23{bottom:169.334991px;}
.y4b{bottom:171.468048px;}
.y1c{bottom:175.760147px;}
.yc{bottom:176.387650px;}
.y37{bottom:177.184937px;}
.y2c{bottom:185.311798px;}
.y3{bottom:187.646965px;}
.yb{bottom:191.507652px;}
.y30{bottom:205.337341px;}
.y36{bottom:205.984940px;}
.ya{bottom:206.627655px;}
.y2{bottom:209.246966px;}
.y1b{bottom:212.960144px;}
.y61{bottom:222.258227px;}
.y9{bottom:230.648205px;}
.y3e{bottom:234.959419px;}
.y13{bottom:234.992950px;}
.y1{bottom:236.160542px;}
.y2b{bottom:242.911774px;}
.y4a{bottom:245.880432px;}
.y22{bottom:246.135002px;}
.y1a{bottom:250.160141px;}
.y45{bottom:256.921753px;}
.y2f{bottom:258.537338px;}
.y35{bottom:263.584946px;}
.y49{bottom:267.480431px;}
.y12{bottom:268.592957px;}
.y3d{bottom:275.199425px;}
.y44{bottom:278.521751px;}
.y21{bottom:284.535004px;}
.y19{bottom:287.360142px;}
.y60{bottom:288.962784px;}
.y48{bottom:289.080437px;}
.y43{bottom:300.121758px;}
.y2a{bottom:300.511757px;}
.y5f{bottom:310.562790px;}
.y47{bottom:310.680443px;}
.y2e{bottom:311.737339px;}
.y3c{bottom:315.439425px;}
.y34{bottom:321.184952px;}
.y42{bottom:321.721764px;}
.y20{bottom:322.935003px;}
.y11{bottom:335.792961px;}
.y8{bottom:349.864052px;}
.y5e{bottom:353.762802px;}
.y46{bottom:358.103882px;}
.y29{bottom:358.111763px;}
.y7{bottom:364.984062px;}
.y41{bottom:369.145203px;}
.y10{bottom:369.392963px;}
.y5d{bottom:375.362801px;}
.y18{bottom:378.139851px;}
.y2d{bottom:378.288486px;}
.y33{bottom:378.784946px;}
.y6{bottom:380.104057px;}
.y5a{bottom:381.936729px;}
.y67{bottom:382.355179px;}
.y28{bottom:386.911766px;}
.y5{bottom:395.224064px;}
.y5c{bottom:396.962802px;}
.y59{bottom:403.536728px;}
.y4{bottom:419.244614px;}
.y1f{bottom:421.405598px;}
.y58{bottom:425.136729px;}
.y40{bottom:432.203320px;}
.y32{bottom:432.844578px;}
.y3b{bottom:435.474403px;}
.y27{bottom:439.589485px;}
.yf{bottom:439.626953px;}
.y3a{bottom:444.569206px;}
.y5b{bottom:465.895679px;}
.y57{bottom:481.489834px;}
.y68{bottom:496.823877px;}
.y6d{bottom:496.823879px;}
.h15{height:27.861328px;}
.h14{height:30.957031px;}
.h18{height:40.769531px;}
.h4{height:43.339844px;}
.h2{height:55.722656px;}
.h3{height:61.914062px;}
.hd{height:69.890625px;}
.ha{height:74.296875px;}
.h6{height:81.539062px;}
.h17{height:91.504000px;}
.h11{height:92.871094px;}
.h8{height:93.187500px;}
.h7{height:95.966797px;}
.h12{height:105.088000px;}
.hc{height:116.484375px;}
.h9{height:117.648000px;}
.h1{height:130.720000px;}
.h13{height:131.360000px;}
.he{height:143.792000px;}
.hb{height:144.496000px;}
.h5{height:156.864000px;}
.h16{height:176.472000px;}
.h10{height:197.040000px;}
.h19{height:202.616000px;}
.hf{height:235.296000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x28{left:23.518036px;}
.x2{left:29.935684px;}
.x33{left:31.547241px;}
.x20{left:36.448822px;}
.x23{left:38.462601px;}
.x1{left:44.662521px;}
.x14{left:56.546921px;}
.x15{left:65.224091px;}
.x2d{left:69.316925px;}
.x31{left:75.506058px;}
.xf{left:78.816925px;}
.x10{left:81.316925px;}
.x26{left:85.459686px;}
.x16{left:98.967255px;}
.x27{left:107.959686px;}
.x18{left:112.926300px;}
.x11{left:114.816925px;}
.x12{left:116.068909px;}
.xe{left:144.170319px;}
.x13{left:145.826614px;}
.x1d{left:148.198822px;}
.x1c{left:149.746124px;}
.x4{left:157.865112px;}
.x6{left:159.315308px;}
.x5{left:178.650269px;}
.x1f{left:180.448822px;}
.x17{left:189.173248px;}
.xd{left:211.428856px;}
.x24{left:216.341644px;}
.x25{left:220.631866px;}
.x2a{left:233.871902px;}
.x7{left:236.386597px;}
.xc{left:263.304825px;}
.x3{left:264.386604px;}
.x1e{left:317.649796px;}
.x1b{left:360.636627px;}
.x30{left:365.570038px;}
.x1a{left:381.588654px;}
.x19{left:385.881561px;}
.x2b{left:392.880341px;}
.x2e{left:432.974121px;}
.x2c{left:441.163944px;}
.x22{left:487.198822px;}
.xa{left:509.831482px;}
.x9{left:517.933533px;}
.xb{left:560.626892px;}
.x8{left:615.609314px;}
.x21{left:631.198822px;}
.x29{left:632.265479px;}
.x2f{left:761.410645px;}
.x32{left:773.240784px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-15.458123pt;}
._4{margin-left:-2.382249pt;}
._6{width:2.698585pt;}
._0{width:13.333333pt;}
._2{width:32.000000pt;}
._3{width:43.733333pt;}
._1{width:75.200000pt;}
._7{width:86.400000pt;}
.fs10{font-size:48.000000pt;}
.fsf{font-size:53.333333pt;}
.fs3{font-size:74.666667pt;}
.fs1{font-size:96.000000pt;}
.fs2{font-size:106.666667pt;}
.fs9{font-size:128.000000pt;}
.fsd{font-size:133.333333pt;}
.fs5{font-size:149.333333pt;}
.fse{font-size:160.000000pt;}
.fs6{font-size:165.333333pt;}
.fs7{font-size:170.666667pt;}
.fs8{font-size:192.000000pt;}
.fs0{font-size:213.333333pt;}
.fsa{font-size:234.666667pt;}
.fs4{font-size:256.000000pt;}
.fs11{font-size:288.000000pt;}
.fsc{font-size:320.000000pt;}
.fs12{font-size:330.666667pt;}
.fsb{font-size:384.000000pt;}
.y0{bottom:0.000000pt;}
.y65{bottom:26.383097pt;}
.y6a{bottom:37.177561pt;}
.y6b{bottom:37.460398pt;}
.y56{bottom:43.562866pt;}
.y17{bottom:44.524007pt;}
.y6c{bottom:46.885284pt;}
.y50{bottom:50.192790pt;}
.y26{bottom:72.179972pt;}
.y55{bottom:72.362874pt;}
.y4f{bottom:78.992798pt;}
.y39{bottom:82.646525pt;}
.ye{bottom:89.369273pt;}
.y54{bottom:101.162872pt;}
.y64{bottom:105.214233pt;}
.y4e{bottom:107.792796pt;}
.y69{bottom:109.342838pt;}
.y70{bottom:110.731313pt;}
.y66{bottom:114.285563pt;}
.y6e{bottom:114.700310pt;}
.yd{bottom:119.218648pt;}
.y25{bottom:123.379964pt;}
.y6f{bottom:123.501457pt;}
.y53{bottom:129.962880pt;}
.y16{bottom:134.123942pt;}
.y1e{bottom:135.146830pt;}
.y4d{bottom:136.592804pt;}
.y52{bottom:158.762889pt;}
.y38{bottom:159.446574pt;}
.y63{bottom:162.814250pt;}
.y4c{bottom:165.392812pt;}
.y24{bottom:174.579976pt;}
.y15{bottom:178.923910pt;}
.y1d{bottom:184.746847pt;}
.y3f{bottom:193.133545pt;}
.y31{bottom:216.328186pt;}
.y62{bottom:220.414249pt;}
.y51{bottom:221.994141pt;}
.y14{bottom:223.723918pt;}
.y23{bottom:225.779989pt;}
.y4b{bottom:228.624064pt;}
.y1c{bottom:234.346863pt;}
.yc{bottom:235.183533pt;}
.y37{bottom:236.246582pt;}
.y2c{bottom:247.082397pt;}
.y3{bottom:250.195953pt;}
.yb{bottom:255.343536pt;}
.y30{bottom:273.783122pt;}
.y36{bottom:274.646586pt;}
.ya{bottom:275.503540pt;}
.y2{bottom:278.995955pt;}
.y1b{bottom:283.946859pt;}
.y61{bottom:296.344303pt;}
.y9{bottom:307.530940pt;}
.y3e{bottom:313.279226pt;}
.y13{bottom:313.323934pt;}
.y1{bottom:314.880722pt;}
.y2b{bottom:323.882365pt;}
.y4a{bottom:327.840576pt;}
.y22{bottom:328.180003pt;}
.y1a{bottom:333.546855pt;}
.y45{bottom:342.562337pt;}
.y2f{bottom:344.716451pt;}
.y35{bottom:351.446594pt;}
.y49{bottom:356.640574pt;}
.y12{bottom:358.123942pt;}
.y3d{bottom:366.932566pt;}
.y44{bottom:371.362335pt;}
.y21{bottom:379.380005pt;}
.y19{bottom:383.146856pt;}
.y60{bottom:385.283712pt;}
.y48{bottom:385.440582pt;}
.y43{bottom:400.162343pt;}
.y2a{bottom:400.682343pt;}
.y5f{bottom:414.083720pt;}
.y47{bottom:414.240590pt;}
.y2e{bottom:415.649785pt;}
.y3c{bottom:420.585899pt;}
.y34{bottom:428.246602pt;}
.y42{bottom:428.962351pt;}
.y20{bottom:430.580004pt;}
.y11{bottom:447.723948pt;}
.y8{bottom:466.485402pt;}
.y5e{bottom:471.683736pt;}
.y46{bottom:477.471842pt;}
.y29{bottom:477.482351pt;}
.y7{bottom:486.645416pt;}
.y41{bottom:492.193604pt;}
.y10{bottom:492.523951pt;}
.y5d{bottom:500.483734pt;}
.y18{bottom:504.186467pt;}
.y2d{bottom:504.384649pt;}
.y33{bottom:505.046595pt;}
.y6{bottom:506.805410pt;}
.y5a{bottom:509.248973pt;}
.y67{bottom:509.806905pt;}
.y28{bottom:515.882355pt;}
.y5{bottom:526.965418pt;}
.y5c{bottom:529.283736pt;}
.y59{bottom:538.048971pt;}
.y4{bottom:558.992818pt;}
.y1f{bottom:561.874130pt;}
.y58{bottom:566.848972pt;}
.y40{bottom:576.271093pt;}
.y32{bottom:577.126104pt;}
.y3b{bottom:580.632538pt;}
.y27{bottom:586.119314pt;}
.yf{bottom:586.169271pt;}
.y3a{bottom:592.758942pt;}
.y5b{bottom:621.194239pt;}
.y57{bottom:641.986445pt;}
.y68{bottom:662.431836pt;}
.y6d{bottom:662.431839pt;}
.h15{height:37.148438pt;}
.h14{height:41.276042pt;}
.h18{height:54.359375pt;}
.h4{height:57.786458pt;}
.h2{height:74.296875pt;}
.h3{height:82.552083pt;}
.hd{height:93.187500pt;}
.ha{height:99.062500pt;}
.h6{height:108.718750pt;}
.h17{height:122.005333pt;}
.h11{height:123.828125pt;}
.h8{height:124.250000pt;}
.h7{height:127.955729pt;}
.h12{height:140.117333pt;}
.hc{height:155.312500pt;}
.h9{height:156.864000pt;}
.h1{height:174.293333pt;}
.h13{height:175.146667pt;}
.he{height:191.722667pt;}
.hb{height:192.661333pt;}
.h5{height:209.152000pt;}
.h16{height:235.296000pt;}
.h10{height:262.720000pt;}
.h19{height:270.154667pt;}
.hf{height:313.728000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x28{left:31.357381pt;}
.x2{left:39.914246pt;}
.x33{left:42.062988pt;}
.x20{left:48.598429pt;}
.x23{left:51.283468pt;}
.x1{left:59.550028pt;}
.x14{left:75.395894pt;}
.x15{left:86.965454pt;}
.x2d{left:92.422567pt;}
.x31{left:100.674744pt;}
.xf{left:105.089233pt;}
.x10{left:108.422567pt;}
.x26{left:113.946248pt;}
.x16{left:131.956340pt;}
.x27{left:143.946248pt;}
.x18{left:150.568400pt;}
.x11{left:153.089233pt;}
.x12{left:154.758545pt;}
.xe{left:192.227091pt;}
.x13{left:194.435486pt;}
.x1d{left:197.598429pt;}
.x1c{left:199.661499pt;}
.x4{left:210.486816pt;}
.x6{left:212.420410pt;}
.x5{left:238.200358pt;}
.x1f{left:240.598429pt;}
.x17{left:252.230998pt;}
.xd{left:281.905141pt;}
.x24{left:288.455526pt;}
.x25{left:294.175822pt;}
.x2a{left:311.829203pt;}
.x7{left:315.182129pt;}
.xc{left:351.073100pt;}
.x3{left:352.515472pt;}
.x1e{left:423.533061pt;}
.x1b{left:480.848836pt;}
.x30{left:487.426717pt;}
.x1a{left:508.784871pt;}
.x19{left:514.508748pt;}
.x2b{left:523.840454pt;}
.x2e{left:577.298828pt;}
.x2c{left:588.218592pt;}
.x22{left:649.598429pt;}
.xa{left:679.775309pt;}
.x9{left:690.578044pt;}
.xb{left:747.502523pt;}
.x8{left:820.812419pt;}
.x21{left:841.598429pt;}
.x29{left:843.020638pt;}
.x2f{left:1015.214193pt;}
.x32{left:1030.987712pt;}
}
